.coral-slider {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    cursor: pointer;
    &.scroll-x {
        overflow-x: scroll;
    }
    .coral-item {
        display: inline-block;
        vertical-align: top;
        position: relative;
        img {
            height: 35rem;
        }
    }
}
